:root {
    --width: 300px;
    --height: 390px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    margin-top: 20px;
    padding-top: 70px;
}

.angpow {
    width: 300px;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.triangle-closed,
.triangle-opened,
.inner-triangle {
    width: 0;
    height: 0;
}

.triangle-closed,
.triangle-opened,
.inner-triangle {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.triangle-closed {
    border-top: 125px solid rgb(141, 32, 32);
    position: absolute;
    top: 16.2%;
    transform: translateY(-50%);
}

.triangle-opened {
    border-bottom: 125px solid rgb(141, 32, 32);
    position: absolute;
    display: none;
    top: -31.9%;
}

.inner-triangle {
    border-top: 125px solid;
    position: absolute;
    display: none;
    top: 0.13%;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.glow {
    position: absolute;
    top: 10.9%;
    border-top: 100px solid rgba(255, 255, 0, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 349px;
    z-index: 1;
    display: none;
}

@media (max-width: 425.5px) {
    .wrapper {
        padding-top: 2.5rem;
    }

    .angpow {
        height: 60vh;
        /* Adjust as needed */
    }

    .triangle-closed {
        border-top: 125px solid rgb(141, 32, 32);
        position: absolute;
        top: 20.2%;
        transform: translateY(-50%);
    }

    .triangle-opened {
        border-bottom: 125px solid rgb(141, 32, 32);
        position: absolute;
        display: none;
        top: -41.1%;
    }

    .inner-triangle {
        border-top: 125px solid;
        position: absolute;
        display: none;
        top: -0.1%;
    }
}

@media (min-height: 1000px) {
    .angpow {
        width: calc(1.2 * var(--width));
        height: calc(1.2 * var(--height));
    }

    .triangle-closed,
    .triangle-opened,
    .inner-triangle {
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;
    }

    .triangle-closed {
        border-top: 125px solid rgb(141, 32, 32);
        position: absolute;
        top: 13.4%;
        transform: translateY(-50%);
    }

    .triangle-opened {
        border-bottom: 125px solid rgb(141, 32, 32);
        position: absolute;
        display: none;
        top: -26.6%;
    }

}

@media (min-height: 2000px) {
    .angpow {
        width: calc(2 * var(--width));
        height: calc(2 * var(--height));
    }

    .triangle-closed,
    .triangle-opened,
    .inner-triangle {
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
    }

    .triangle-closed {
        border-top: 125px solid rgb(141, 32, 32);
        position: absolute;
        top: 8.1%;
        transform: translateY(-50%);
    }

    .triangle-opened {
        border-bottom: 125px solid rgb(141, 32, 32);
        position: absolute;
        display: none;
        top: -15.95%;
    }

    .text-lg {
        font-size: 1.875rem !important;
        /* 30px */
        line-height: 2.25rem !important;
        /* 36px */
    }

}
