* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.angpow {
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: transparent;
}

:root {
    --width: 300px;
    --height: 390px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.rain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-color: transparent;
    display: none;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Ensure the center container is above the rain container */
}

.wrapper {
    margin-top: 20px;
    padding-top: 70px;
}

.yuanbao {
    margin-top: -50px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    /* animation: slideUpAnimation 0.5s ease-out, shakeAnimation 0.5s ease-in-out infinite; */
}

@keyframes fallAnimation {
    to {
        transform: translateY(100vh);
    }
}

@keyframes shakeAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(5deg); }
    50% { transform: translateX(5px) rotate(-5deg); }
    75% { transform: translateX(-5px) rotate(5deg); }
    100% { transform: translateX(0) rotate(0); }
  }

.yuanbao-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 25px;
    width: 50px;
    border-radius: 150px 150px 0 0;
    background-color: rgb(255, 183, 0);
}

.yuanbao-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -50%) rotateX(180deg);
    height: 50px;
    width: 100px;
    border-radius: 30% 30% 10% 10% / 80% 80% 20% 20%;
    background-color: rgb(255, 183, 0);
}

.angpow {
    width: var(--width);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.angpow-closed {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(0.4 * var(--width));
    width: var(--width);
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(141, 32, 32);
}

.angpow-opened {
    position: absolute;
    display: none;
    top: -15.1%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(180deg);
    height: calc(0.4 * var(--width));
    width: var(--width);
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(141, 32, 32);
}

.inner-angpow {
    position: absolute;
    top: 4.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(0.125 * var(--width));
    width: var(--width);
    border-radius: 0 0 250px 250px;
}

@media (max-width: 768px) {
    .angpow {
        -webkit-tap-highlight-color: transparent;
    }

    :root {
        --width: 304.8px;
        /*increase by 101.6%*/
        --height: 396.24px;
    }

    .wrapper {
        margin-top: 0;
        padding-top: 0;
    }

    .angpow {
        width: var(--width);
        height: var(--height);
    }

}

@media (max-width: 425.5px) {
    .angpow {
        -webkit-tap-highlight-color: transparent;
    }

    :root {
        --width: 225px;
        --height: 292.5px;
    }

    .wrapper {
        margin: 0;
        padding-top: 0;
    }

    .angpow {
        width: var(--width);
        height: var(--height);
    }
}

@media (min-height: 1000px) {
    .angpow {
        -webkit-tap-highlight-color: transparent;
    }

    :root {
        --width: 310px;
        --height: 400px;
    }

    .wrapper {
        margin: 0;
        padding-top: 0;
    }

    .angpow {
        width: var(--width);
        height: var(--height);
    }

    .text-lg {
        font-size: 1.5rem !important;
        /* 24px */
        line-height: 2rem !important;
        /* 32px */
    }

}

@media (min-height: 2000px) {
    .yuanbao-top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 100px;
        border-radius: 150px 150px 0 0;
        background-color: rgb(255, 183, 0);
    }
    
    .yuanbao-bottom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: bottom center;
        transform: translate(-50%, -50%) rotateX(180deg);
        height: 100px;
        width: 200px;
        border-radius: 30% 30% 10% 10% / 80% 80% 20% 20%;
        background-color: rgb(255, 183, 0);
    }

    .angpow {
        -webkit-tap-highlight-color: transparent;
    }

    :root {
        --width: 620px;
        --height: 800px;
    }

    .wrapper {
        margin: 0;
        padding-top: 0;
    }

    .angpow {
        width: var(--width);
        height: var(--height);
    }

    .text-lg {
        font-size: 3rem !important;
        /* 48px */
        line-height: 1rem !important;
    }

}
